.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px 0;
}

.footer a {
  margin: 0 15px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.footer a:hover {
  color: black;
}
